body{
    position:relative;
}
#backBtn{
    position:absolute;
    top:5vh;
    left:5vh;
    width:3.5vw;
    height:7vh;
    background:linear-gradient(#ffffff,rgb(255, 240, 108));
    border-radius: 50px;
    border:1px solid rgb(255, 240, 108);
    opacity:60%;
}
#backBtn:hover{
    box-shadow: 4px 4px 10px -2px rgb(255, 240, 108);
    opacity:100%;
    border:1px solid white;
    
}
#galleryAll{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   width: 91%;
   margin-left:8vw;
   margin-top:3.5vh;
   
}
#gallery1pic,#gallery2pic,#gallery3pic,#gallery4pic,#gallery5pic,#gallery6pic,#gallery7pic,#gallery8pic{
    height: 45vh;
    width: 22vw;
    margin: 0.5vh;
    transition: 2s ease;
    list-style-type: none;
    
}
#gallery1pic{
    background: url("https://ic.pics.livejournal.com/phys_exp/20166967/50476/50476_original.jpg");
}
/* #gallery1pic,#gallery2pic,#gallery3pic,#gallery4pic,#gallery5pic,#gallery6pic,#gallery7pic,#gallery8pic =>:hover{
    opacity:100%;
} */
#gallery2pic{
    background: url("https://en.wahooart.com/Art.nsf/O/9GEHSH/$File/Claude-Monet-le-bassin-aux-nympheas-reflets-verts.jpg");
}
#gallery3pic{
    background: url("https://3dnews.ru/assets/external/illustrations/2014/07/05/823437/mone_big.jpg");
}
#gallery4pic{
    background: url("https://cs6.pikabu.ru/post_img/big/2014/04/07/11/1396897063_1421524292.jpg");
}
#gallery5pic{
    background: url("https://i.pinimg.com/originals/5c/2c/5c/5c2c5c63ff154624629fee68781c2735.jpg");
}
#gallery6pic{
    background: url("https://us.v-cdn.net/6025126/uploads/editor/r9/grh0cefyxqyz.jpg");
}
#gallery7pic{
    background: url("https://3.bp.blogspot.com/-WljvtyfD7pc/UZzCv-eJioI/AAAAAAAAfC0/X3FgQmYZ-rk/s1600/%D0%9A%D0%BB%D0%BE%D0%B4+%D0%9C%D0%BE%D0%BD%D0%B5+-+Cliff+at+Dieppe,+1882.jpg");
}
#gallery8pic{
    background: url("https://cdn2.oceansbridge.com/2017/07/25095738/At-Les-Petit-Dalles-1884-Claude-Monet-Oil-Painting.jpg");
}

