#addBtn{
    font-family: 'ThabitRegular';
    position:fixed;
    top:15vh;
    left:6vh;
    width: 2.5vw;
    height: 20vh;
    border-radius: 50px;;
    word-wrap: break-word; 
    font-size: 1.7em;
    display:table;
    padding: 0.5%;
    opacity:60%;
    color: #0e0c0c;
    text-shadow: 2px 2px 4px #3a3838;
    box-shadow: 2px 2px 4px rgb(255, 255, 255);
    border:1px solid rgb(255, 255, 255);
    background-color: #757575;
}
#addBtn:hover{
    box-shadow: 4px 5px 15px -2px rgb(101 250 255);
    opacity:80%;
    border:1px solid white;
}
#innerBlocks{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 90%;
    padding:15px;
    margin-left:15vh;
    margin-top:2.5vh;  
}
.square {
    position: relative;
    height: 35vh;
    width: 35vh;
    margin: 0.5vh;
    transition: 2s ease;
}
.square:hover{
    opacity:30%;
}
.sname{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color:rgb(121, 118, 118);
}

.block{
    height: 35vh;
    width: 35vh;
    margin: 0.5vh;
    transition: 2s ease;
    background-color: rgb(121, 251, 208);
    list-style-type: none;
    opacity:50%;
}
.block:hover{
    opacity:100%;
}
.listname{
    text-align: center ;
    font-size: 1.7em; 
    color: rgb(31, 31, 31);
    opacity:50%;
    background-color: transparent;
    width: 80%;
    margin:auto;
    font-family: 'ThabitRegular';
    padding-top:14.5vh;
}

@media screen and (max-width:575px){
#innerBlocks{
display: flex;
max-width: 100%;
margin-left: 6vh;
margin-top: 0.5vh;
}
.square {
    height: 30vh;
    width: 50vh;
    margin: 0.5vh;
    transition: 2s ease;
}
#addBtn {
    top: 10vh;
    left: 3vh;
    width: 7vw;
    height: 18vh;
    word-wrap: break-word;
    font-size: 1.3em;
}
.block {
    height: 31vh;
    width: 40vh;
    margin: 0.5vh;
    transition: 2s ease;
    background-color: rgb(121, 251, 208);
    list-style-type: none;
    opacity: 50%;
}
}