#listnameInput{
    position:absolute;
    top:5vh;
    left:25vh;
    font-size: 2em;
    color: rgb(1, 255, 242);
    background-color: transparent;
    width: 40%;
    border:none;
    font-family: 'ThabitRegular';
    outline: 0;
    outline-offset: 0;
    margin:0px;
}
#saveBtn{
    position:fixed;
    top:15vh;
    left:5vh;
    background:linear-gradient(#36F3FF,#5135a0);
    width: 2.5vw;
    height: 25vh;
    word-wrap: break-word; 
    border-radius: 50px;
    border:1px solid rgb(101, 250, 255);
    font-family:'ThabitRegular';
    font-size: 1.7em;
    color:rgb(255, 255, 255);
    display:table;
    padding: 0.5%;
}
#saveBtn:hover{
    border:1px solid white;
}
#addBtn{
    position: fixed;
    top: 41vh;
    left: 5vh;
    background: linear-gradient(#36F3FF,#5135a0);
    width: 2.5vw;
    height: 24vh;
    word-wrap: break-word; 
    border-radius: 50px;
    border:1px solid rgb(101, 250, 255);
    font-family:'ThabitRegular';
    font-size: 1.7em;
    color:rgb(255, 255, 255);
    display:table;
    padding: 0.5%;
}
#addBtn:hover{
    border:1px solid white;
}

#clearBtn{
    position: fixed;
    top: 66vh;
    left: 5vh;
    background: linear-gradient(#36F3FF,#5135a0);
    width: 2.5vw;
    height: 30vh;
    word-wrap: break-word; 
    border-radius: 50px;
    border:1px solid rgb(101, 250, 255);
    font-family:'ThabitRegular';
    font-size: 1.7em;
    color:rgb(255, 255, 255);
    display:table;
    padding: 0.5%;
}
#clearBtn:hover{
    border:1px solid white;
}
.note{
    list-style-type: none;
     display: flex;
     border:1px solid rgb(101, 250, 255);
     max-width: 85%;
     padding: 0vh;
     margin-left: 18vh;
     margin-top: 18vh;
}

#notes{
    max-width: 85%;
    padding: 0vh;
    margin-left: 15vh;
    margin-top: 18vh;
}
#note_string{
    font-size: 2em;
    color: rgb(1, 255, 242);
    background-color: transparent;
    width:100%;
    padding: 5px;
    border:none;
    font-family: 'ThabitRegular';
    outline: 0;
    outline-offset: 0;
    margin:0px;
}
#note_cb{
    margin:2vh;
}
.note_item{

    list-style-type: none; 
	counter-reset: num;
    width:auto;
    display: flex;
    height:auto;
    margin:0px;
    padding:0px;
}
#notes_list{
    max-width: 85%;
    padding: 0vh;
    margin-left: 18vh;
    margin-top: 3vh;
}
#userName{
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-family: 'ThabitRegular';
}
@media screen and (max-width:575px){
    #saveBtn {
        top: 10vh;
        left: 2vh;
        width: 6vw;
        height: 15vh;
        word-wrap: break-word;
        font-size: 1em;
    }
    #addBtn {
        top: 27vh;
        left: 2vh;
        width: 6vw;
        height: 15vh;
        font-size: 1em;
    }
    #clearBtn {
        top: 44vh;
        left: 2vh;
        width: 6vw;
        height: 20vh;
        font-size: 1em;
    }
    #listnameInput {
        top: 2vh;
        left: 15vh;
        font-size: 1em;
        color: rgb(1, 255, 242);
        max-width: 55%;
    }
    #note_cb {
        margin: 1vh;
    }
    .note {
        max-width: 75%;
        padding: 0vh;
        margin-left: 10vh;
        margin-top: 10vh;
        display: flex;
    }
    #note_string {
        font-size: 1em;
        padding: 5px;
        outline: 0;
        outline-offset: 0;
    }
    #notes_list {
        max-width: 100%;
        padding: 0vh;
        margin-left: 10vh;
        margin-top: 3vh;
    }
}