#listname{
    position:absolute;
    top:5vh;
    left:20vh;
    font-size: 2em;
    color: rgb(1, 255, 242);
    background-color: transparent;
    width: 40%;
    border:none;
    font-family: 'ThabitRegular';
    font-weight: bold;
    outline: 0;
    outline-offset: 0;
    margin:0px;
}
#opened_notes{
    max-width: 85%;
    padding: 0vh;
    margin-left: 20vh;
    margin-top: 20vh;
}
.note_item{
    list-style-type: none; 
	counter-reset: num;
    width:auto;
    display: flex;
    height:auto;
    margin:0px;
    padding:0px;
}
#note_string{
    font-size: 2em;
    color: rgb(1, 255, 242);
    background-color: transparent;
    width:100%;
    padding: 5px;
    border:none;
    font-family: 'ThabitRegular';
    outline: 0;
    outline-offset: 0;
    margin:0px;
}
#note_cb{
    margin:1.5vh;
    width: 2vw;
    height: 3vh;

}
@media screen and (max-width:575px){
    #note_cb {
        width: 5vw;
        height: 4vh;
        margin: 1.5vh;
    
    }
    #listname{
    top: 2vh;
    left: 15vh;
    font-size: 1.5em;
    color: rgb(1, 255, 242);
    max-width: 55%;
    text-align: center; 
    }
    #opened_notes {
        max-width: 85%;
        padding: 0vh;
        margin-left: 18vw;
        margin-top: 12vh;
    }
    }